.App {
  text-align: center;
  padding: 16px;
}

:root {
  --board-size: 400px;
  --board-color: black;
  --rows: 9;
  --cols: 9;
}

.board {
  margin: auto;
  background-color: gainsboro;
  width: fit-content;
  user-select: none;
  font-weight: bold;
}

.board.failed {
  pointer-events: none;
  animation: shake 0.1s ease-in-out 5;
}

.row {
  width: fit-content;
  height: calc(var(--board-size) / var(--rows));
  border-left: var(--board-color) solid 2px;
  border-bottom: var(--board-color) solid 2px;
}

.row:first-child {
  border-top: var(--board-color) solid 2px;
}

.col {
  display: inline-block;
  width: calc(var(--board-size) / var(--cols));
  height: 100%;
  border-right: var(--board-color) solid 2px;
  cursor: pointer;
  vertical-align: middle;
  line-height: calc(var(--board-size) / var(--rows));
}

.col.opened {
  background-color: white;
}

.col[data-count="1"] {
  color: #f8b195;
}

.col[data-count="2"] {
  color: #f67280;
}

.col[data-count="3"] {
  color: #c06c84;
}

.col[data-count="4"] {
  color: #6c5b7b;
}

.col[data-count="5"] {
  color: #355c7d;
}

.col[data-count="6"] {
  color: #99b898;
}

.col[data-count="7"] {
  color: #feceab;
}

.col[data-count="8"] {
  color: #ff847c;
}

.col[data-count="9"] {
  color: #e84a5f;
}

.message {
  animation: zoom 1s ease-in-out 3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
